<table>
  <div>
    <%= image_tag user.get_profile_image(100, 100) %>
  </div>
  <div>
    name<br>
    <%= user.name %>
  </div>
  <div>
    introduction<br>
    <%= user.introduction %>
  </div>
</table>